@media screen and (min-width: 650px) {

	#first-signup{
		font-size: 3.1rem;
	}
	#second-signup{
		font-size: 1.9rem;

	}
	.berry__text h1 {
		margin: 1.2rem 0;
	}
	
	.perks__container{
		align-items: center;
		min-width: 40.125rem;
		padding: 0 0.25rem;
		max-height: 20rem;
		max-width: 80rem;
		margin: 0 auto;
	}
	.perks__item {
		width: 33.333%;
		margin: 0;
		height: 65%;
		vertical-align: middle;
	}
	.perks__logo {

	}
	.perks__text {
		width: 100%;
		min-width: 0;
		padding: 0 0.5rem;
	}

	.testimonial__container{
		align-items: center;
		min-width: 40.125rem;
		padding: 0 0.25rem;
		max-height: 20rem;
		max-width: 80rem;
		margin: 0 auto;
	}

	.testimonial__item {
		width: 33%;
		margin: 0;
		height: 70%;
	}

	.testimonial__text {
		width: 100%; 
		min-width: 12rem; 
		max-width: 18rem;
	}
	.testimonial__text h1 {
		width: 100%; 
		margin: 0 auto;
	}
	.testimonial__text p {
		width: 100%; 
		min-width: 12rem; 
		max-width: 18rem; 
		display: block; 
		margin: 0 auto; 
		padding: 0 0.5rem;
	}

	

	.berry-container.second-signup {
		background-position: 60% 73.5%;
	}

	.second-signup #berry-submit {
		padding: 0.25rem;
		margin-top: 1.5rem;
	}

	@media screen and (min-width: 750px) {
		.samples__container {
			height: 80rem;
			
			margin: 0 auto;
		}

		#samples__title {
			font-size: 3rem;
		}	
		.sample {
			height: 33.33%;
			width: 50%;
			margin: 0;
			/*max-width: 40rem;*/
		}
	
		.sample__text{
			max-width: 40rem;
			padding: 0 0.9rem;
		}
	
		#sample-1, #sample-3, #sample-5 {
			width: 50%;
		}
	
		#sample-1 {order: 0;}
		#sample-2 {order: 1;}
		#sample-3 {order: 3;}
		#sample-4 {order: 2;}
		#sample-5 {order: 4;}
		#sample-6 {order: 5;}
	
		#sample-2 h1, #sample-2 p {
			text-align: left;
			padding-left: 4.5rem;
		}
	
		#sample-6 h1, #sample-6 p {
			text-align: left;
			padding-left: 4.5rem;
			padding-right: 2rem;
		}
	
		#sample-4 h1, #sample-4 p {
			text-align: left;
			padding-right: 3.5rem;
			padding-left: 3rem;
		}
		
		#sample-2 p, #sample-6 p{
			text-align: left;
			padding-right: 2rem;
		}
	
		#sample-4 p {
			text-align: left;
			
		}
	}
}
