main {
    min-height: 100%;
}

ul {
    -webkit-padding-start: 0;
}

.signup-container {
    order: 0;
    position: relative;
    min-height: 33.13rem;
    width: 100%;
    background: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 70%;
}

.signup__content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    /* background: rgba(190, 199, 187, 0.5); */
    filter: brightness(0.9) sepia(50%);
    width: 100%;
    height: 100%;
}

.signup__space {
    order: 1;
    width: 100%;
    height: 40%;
}

.signup__form-container {
    order: 0;
    width: 100%;
    height: 60%;
    vertical-align: middle;
    /* filter: brightness(0.1); */
    /* background: linear-gradient(to right, rgba(53, 53, 53, 0.5) 15%, transparent); */
    font-family: 'Helvetica', sans-serif;
    color: black;
    background: linear-gradient(to bottom, rgba(170, 140, 168, 0.5), transparent);
}

.signup__text {
    position: absolute;
    text-align: left;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 5%;
    margin: 0 auto;
    left: 5%;
    right: 5%;
    text-shadow: 1px 1px 2px gray, -1px -1px rgba(255, 200, 200, 0.4);
}

.signup__text h1 {
    text-align: center;
    min-width: 15.875rem;
    max-width: 45.625rem;
}

.signup__text label {
    display: inline-block;
    text-align: left;
    font-size: 1.35rem;
    margin-bottom: 0.75rem;

}

.signup__text-input {
    display: block;
    text-align: left;
    min-width: 15.875rem;
    width: 85%;
    max-width: 40.625rem;
    padding-left: 0.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    color: rgb(85, 54, 63);
    border: 1.5px solid rgba(122, 73, 9, 0.603);
    border-radius: 7px;
}

.signup__text-input:valid {
    border: 1.5px solid green;
    background-color: rgba(0, 255, 0, 0.4);
}

.signup__text-input:invalid {
    border: 1.5px solid rgba(122, 73, 9, 1);
    background-color: rgba(200, 0, 0, 0.4);
}


.signup__text-input:focus {
    border: 2px solid rgba(122, 73, 9, 1);
}

input:focus {
    outline: none;
}

input[type="text"], textarea {

    background-color: rgba(240, 146, 240, 0.609);

}

#signup-submit {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2rem;
    min-width: 15.875rem;
    width: 85%;
    max-width: 40.625rem;
    font-size: 1.5rem;
    border: gray solid 1.5px;
    border-radius: 5px;
    color: black;
    text-shadow: 1px 1px gray;
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
}

#signup-submit.deny{
    background-color: rgba(90, 90, 90, 0.5);
    cursor: not-allowed;
}

input[type="text"], textarea {

    background-color : rgba(240, 146, 240, 0.609);

}


.perks__container {
    position: static;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 25rem;
    height: 57rem;
    /* border: 1px solid black; */
    text-align: center;
    vertical-align: middle;
    padding: 5rem 0;
}

.perks__item {
    min-width: 33%;
    width: 100%;
    height: 33.33%;
    margin: 0 1rem;
    /* border: 1px solid black; */
}

.perks__item h1, .perks__item p {
    margin: 0;
    
    color: black;
}

.perks__item h1 {
    font-size: 1.75rem;
    /* line-height: 1.8rem; */
    text-shadow: 1px 1px 0px gray;
}

.perks__item p {
    margin-top: 0.4rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.perks__logo {
    display: inline-block;
    /* height: 60%; */
    min-height: 7.3rem;
    /* border: 1px solid black; */
}

.perks__logo svg {
    width: 7rem;
    height: 7rem;
    vertical-align: bottom;
    text-align: center;
    /* filter: invert(8%) sepia(48%) saturate(3937%) hue-rotate(319deg) brightness(50%) contrast(97%); */
    
}

.perks__logo image {
    text-align: center;
    -webkit-transform: translate(0.5rem, 0.5rem);
    transform: translate(0.5rem, 0.5rem);
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.perks__logo image:hover {
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem);
    width: 7rem;
    height: 7rem;
    transition: width, height 0.15s;
}

.perks__logo image:not(:hover) {
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.perks__text {
    width: 40%;
    min-width: 15rem;
    height: 50%;
    margin: 0rem auto;
    vertical-align: middle;
}

.samples__container {
    min-height: 30rem;
    height: 140rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.samples__item {
    position: relative;
    min-width: 50%;
    width: 100%;
    max-height: 33.33%;
    height: 16.5%;
}

.sample {
    border: 1.2px solid black;
    display: flex;
    align-items: center;
    height: 16.5%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}

.samples__title-container {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding: 2.5rem 0;
    background-color: whitesmoke;
    /* background-color: rgb(240,255,255); */
}

#samples__title {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0px gray;
}

#sample-1 {
    width: 100%;
    background: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%;
}

#sample-3 {
    width: 100%;
    background: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 51% 50%;
}

#sample-5 {
    width: 100%;
    background: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 50%;
}

.sample__text {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-width: 25rem;
    min-width: 15rem;
    margin: 0 auto;
    color: black;
}

.sample__text h1, .sample__text p {
    display: block;
    margin: 0;
}

.sample__text h1 {
    font-size: 2.7rem;
    text-shadow: 1px 1px 0px gray;
    }

.sample__text p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
    opacity: 0.9;
}


/* testimonials */
.testimonial__container {
    position: static;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 25rem;
    height: 57rem;
    /* border: 1px solid black; */
    text-align: center;
    vertical-align: middle;
    padding: 2rem 0;

}

.testimonial__item {
    min-width: 33%;
    width: 100%;
    height: 33.33%;
    margin: 0 1rem;
    /* border: 1px solid black; */
}

.testimonial__item h1, .testimonial__item p {
    margin: 0;
    color: black;
}

.testimonial__item h1 {
    font-size: 1.4rem;
    /* line-height: 1.8rem; */
    text-shadow: 1px 1px 0px gray;
}

.testimonial__item p {
    margin-top: 0.4rem;
    font-size: 1rem;
    line-height: 1.2rem;
}

.testimonial__logo {
    display: inline-block;
    /* height: 60%; */
    min-height: 7.3rem;
    /* border: 1px solid black; */
}

.testimonial__logo-image {
    width: 12rem;
    height: 12rem;
    vertical-align: bottom;
    text-align: center;
    border: solid 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.308); 
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.308);
    border-radius: 50%;
    background-color: whitesmoke;
    overflow: hidden;
}

.testimonial__logo img {
    width: 12rem;
    height: 12rem;
    vertical-align: bottom;
    text-align: center;
    
}

.testimonial__logo image {
    text-align: center;
    -webkit-transform: translate(0.5rem, 0.5rem);
    transform: translate(0.5rem, 0.5rem);
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.testimonial__logo image:hover {
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem);
    width: 7rem;
    height: 7rem;
    transition: width, height 0.15s;
}

.testimonial__logo image:not(:hover) {
    width: 6rem;
    height: 6rem;
    transition: width, height 0.15s;
}

.testimonial__text {
    width: 40%;
    min-width: 15rem;
    height: 50%;
    margin: 0rem auto;
    vertical-align: middle;
}

.signup-container.second-signup {
    min-height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
}

#second-signup {
    font-size: 1.61rem;
}

.signup__text-input-2 {
    display: block;
    text-align: left;
    min-width: 15.875rem;
    width: 85%;
    max-width: 40.625rem;
    padding-left: 0.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    color: rgb(85, 54, 63);
    border: 1.5px solid rgba(122, 73, 9, 0.603);
    border-radius: 7px;
}

.signup__text-input-2:valid {
    border: 1.5px solid green;
    background-color: rgba(0, 255, 0, 0.4);
}

.signup__text-input-2:invalid {
    border: 1.5px solid rgba(122, 73, 9, 1);
    background-color: rgba(200, 0, 0, 0.4);
}


.signup__text-input-2:focus {
    border: 2px solid rgba(122, 73, 9, 1);
}

#signup-submit-2 {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2rem;
    min-width: 15.875rem;
    width: 85%;
    max-width: 40.625rem;
    font-size: 1.5rem;
    border: gray solid 1.5px;
    border-radius: 5px;
    color: black;
    text-shadow: 1px 1px gray;
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
}

#signup-submit-2.deny{
    background-color: rgba(90, 90, 90, 0.5);
    cursor: not-allowed;
}